@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

.dropdownButton:hover + .dropdownMenu{
    display: block;
}

.dropdownMenu{
    display: none;
}

.dropdownMenu:hover{
    display: block;
}
